<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Railsとvueは以下の４つのヘルパーでつながっているということ、
    その他はAPIを叩く or vue.routerを使って解決 %>
    <%= javascript_bundle_tag 'stylesheet' %>
    <%= stylesheet_bundle_tag 'javascript' %>
    <%= stylesheet_bundle_tag 'stylesheet' %>
    <%= javascript_bundle_tag 'javascript' %>

    <script src="https://maps.google.com/maps/api/js?key=<%= Rails.application.credentials.api_key[:google]%>&language=ja" async></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <%= yield %> 
  </body>

</html>
