<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_bundle_tag 'javascript' %>
    <%= stylesheet_bundle_tag 'javascript' %>
    <%= stylesheet_bundle_tag 'stylesheet' %>
    <%= javascript_bundle_tag 'stylesheet' %>
    <%# ゆくゆくは下記にしたい %>
    <%# = javascript_bundle_tag "#{params[:controller]}#{params[:action].capitalize}"
    = stylesheet_bundle_tag "#{params[:controller]}#{params[:action].capitalize}" %>
<%# <link rel="stylesheet" media="screen" href="packs/javascript-3d9b2c40212a28bda43c.css"> %>
<%# <link rel="stylesheet" media="screen" href="packs/stylesheet-b1cca8d59f5043499991.css"> %>
<%# <script src="packs/javascript-3f5c66da0c218a3d8e91.js" defer="defer" class="__web-inspector-hide-shortcut__"></script> %>
<%# <script src="packs/stylesheet-a104428f0c626b2d866b.js" defer="defer" class="__web-inspector-hide-shortcut__"></script> %>
    <%# 下記のこれあとで消す、いらなくなるかも %>
    <%# <script src="https://maps.google.com/maps/api/js?key=<%= Rails.application.credentials.api_key[:google]%>&language=ja&callback=initMap" async></script> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
